@model CoursesViewModel
@using X.PagedList;

<!DOCTYPE html>
<html>
<head>
    <title>List of Courses</title>
</head>
<body>
    <h1>List of Courses</h1>

    @foreach (var course in Model.Courses)
    {
        <h2>Course: @course.Title</h2>
        <ul>
            <li>Course ID: @course.CourseID</li>
            <li>Credits: @course.Credits</li>
            <li>Department: @course.Department.Name</li>
            <li>
                Enrolled Students:
                <ul>
                    @foreach (var enrollment in course.Enrollments)
                    {
                        <li>@enrollment.Student.FirstName @enrollment.Student.LastName</li>
                    }
                </ul>
            </li>
            <a asp-controller="EditCourse" asp-action="EditCourse" asp-route-id="@course.CourseID">Edit</a>
        </ul>
    }

    <!-- Pagination -->
    @if (Model.Courses is IPagedList<Course> pagedCourses && pagedCourses.PageCount > 1)
    {
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= pagedCourses.PageCount; i++)
                    {
                        <li class="page-item @(i == pagedCourses.PageNumber ? "active" : "")">
                            <a class="page-link" asp-action="ListCourses" asp-route-page="@i">
                                @i
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }

</body>
</html>
