@model CoursesViewModel

<!DOCTYPE html>
<html>
<head>
    <title>List of Courses</title>
</head>
<body>
    <h1>List of Courses</h1>

    <ul>
        @foreach (var course in Model.courses)
        {
            <li>
                <h2>Course: @course.Title</h2>
                <ul>
                    <li>Course ID: @course.CourseID</li>
                    <li>Credits: @course.Credits</li>
                    <li>Department: @course.Department.Name</li>
                    <li>
                        Enrolled Students:
                        <ul>
                            @foreach (var enrollment in course.Enrollments)
                            {
                                <li>@enrollment.Student.FirstName @enrollment.Student.LastName</li>
                            }
                        </ul>
                    </li>
                    <a asp-controller="EditCourse" asp-action="EditCourse" asp-route-id="@course.CourseID">Edit</a>
                </ul>
            </li>
        }
    </ul>
</body>
</html>
